h1{
    margin-bottom: 50px;
  }
  
    div{
      text-align: center;
      border: solid black;
      border-width: thin;
      border-color:rgb(154, 14, 14);
      margin: 30px 350px 0;
    
    }
  
    p{
      font-size: 20px;
    }
    
    input{
      width: 30%;    
      padding: 12px;
    }
  
    button{
      color: rgb(255, 255, 255);
      padding: 10px;
      border-radius: 10px;
      background-color: rgb(100, 23, 171);
    }